<?php /** @var Sample\News\Block\Author\ListAuthor $this */ ?>
<?php $posts = $this->getPosts(); ?>
<div class="posts">
    <?php if ($posts->getSize() > 0): ?>
        <div class="posts">
            <?php foreach ($posts as $post) : ?>
                <div class="sample-news-author-list-item">
                    <h2><?php echo $post->getTitle(); ?></h2>
                    <a href="<?php echo $this->getPostUrl($post->getId()); ?>">Read More...</a>
                </div>
            <?php endforeach;?>
        </div>
    <?php else : ?>
        <?php echo __('There are no authors at this moment');?>
    <?php endif;?>
</div>
