<?php $post = $this->getPost();?>
<div class="post-view">
    <div class="post-title">
        <h2><?php echo $post->getTitle();?></h2>
    </div>
    <div class="post-content">
        <?php echo $post->getContent();?>
    </div>
    ...
</div>
